/* #region RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #endregion */

/* #region COMMON */

[v-cloak] {
  display: none;
}

.container {
  margin: 0 auto;
  padding: 20px 160px;
  display: flex;
  justify-content: center;
}

img {
  max-width: 100%;
  border-radius: 50%;
}

hr {
  color: #f5f5f5;
}

/* #endregion */

/* #region BODY */

body {
  height: 100vh;
  /* Dati pixel fissi invece di 15% e 0 */
  background: linear-gradient(#009788 145px, #d6dad9 0);
  font-family: 'Lato', sans-serif;
  overflow: hidden;
}

/* #endregion */

/* #region APP */

.container .sidebar {
  width: 40%;
}

.container header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  background-color: #eaeaea;
}

.container header .left-content,
.container header .right-content {
  display: flex;
  align-items: center;
}

.container header .left-content img {
  margin: 0 15px;
}

.container #img-profile {
  width: 50px;
  height: 50px;
}

.container header .right-content .sidebar-icons {
  list-style: none;
  display: flex;
  align-items: center;
}

.container header .right-content i {
  color: #b1b1b1;
  margin-right: 20px;
  font-size: 20px;
  text-align: center;
}

.container .main-content {
  width: 60%;
}

.container .sidebar main .notification-settings {
  height: 80px;
  background-color: #8edafc;
  display: flex;
  align-items: center;
}

.container .sidebar main .notification-settings .notification-icon {
  background-color: #f8f9fe;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  margin: 0 15px;
}

.container .sidebar main .notification-settings .text a {
  color: #5d7485;
}

.container .sidebar main .notification-settings i {
  font-size: 25px;
  line-height: 50px;
  color: #8cdbfc;
}

.container .sidebar main .search-bar {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #fafafa;
}

.container .sidebar main .search-bar i {
  margin-left: 20px;
  padding: 9px 28px;
  background-color: #fff;
}

.container .sidebar main .search-bar input {
  border: none;
  border-radius: 0 5px 5px 0;
  height: 34px;
  flex-grow: 1;
  margin: 8px 20px 8px 0;
  padding-left: 10px;
  outline: none;
}

.container .sidebar main .contacts-list {
  list-style: none;
  background-color: #fff;
  height: 590px;
  overflow-y: auto;
}

.container .sidebar main .contact-info {
  display: flex;
  align-items: center;
}

.container .sidebar main .contact-info:hover {
  background-color: #f5f5f5;
}

.container .sidebar main .contacts-list img {
  width: 60px;
  height: 60px;
  margin: 10px 20px;
}

.container .main-content {
  display: flex;
  flex-direction: column;
}

.container .main-content header .profile .last-access {
  color: #6b7376;
}

.container .main-content main {
  background-image: url('../img/mine.jpg');
  flex-grow: 1;
  overflow-y: auto;
}

.container .main-content main .received {
  background-color: #d5f9ba;
  align-items: flex-start;
}

.container .main-content main .sent {
  background-color: #ffffff;
  align-items: flex-end;
}

.container .main-content footer {
  height: 70px;
  background-color: #f5eee8;
}

.container .main-content footer .footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 33px;
}

.container .main-content footer .footer-content input {
  flex-grow: 1;
  height: 50px;
  border-radius: 5px;
  border: none;
  margin: 0 35px;
  padding-left: 15px;
  outline: none;
}

.container .main-content footer .footer-content i {
  font-size: 20px;
  color: #6c7175;
}

/* #endregion */
